{% extends "base.html" %}
{% load static %}

{% block hero_area %}
<div class="hero_area" style="height: 670px">
    {% include "base_parts/nav.html" %}
    {% include "home_parts/1_slider_section.html" %}
</div>
{% endblock hero_area %}

{% block content %}
<section class="service_section layout_padding ">
    <div class="container">
        <h2 class="custom_heading">Our Blog</h2>
        <p class="custom_heading-text">
            There are many interesting articles about fruits
        </p>
        <div class=" layout_padding2">
            <div class="card-deck">
                {% for post in latest_posts %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'post_detail_page' pk=post.pk %}"
                                                  style="color: orangered">{{post.title}}</a>
                        </h5>
                        <p class="card-text"><a href="{% url 'post_detail_page' pk=post.pk %}" style="color: black">
                            {{post.text|truncatewords:50}}
                        </a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'post_list_page' %}" class="custom_dark-btn">
                Read More
            </a>
        </div>
    </div>
</section>
{% include "home_parts/4_tasty_section.html" %}
<section class="fruit_section mb-5">
    <div class="container">
        <h2 class="custom_heading mt-5"><a href="{% url 'product_list_page' %}" style="color: black">Fresh Fruits</a>
        </h2>

        {% for product in products %}
        <div class="row layout_padding2">
            <div class="col-md-8">
                <div class="fruit_detail-box">
                    <h3>
                        {{ product.name }}
                    </h3>
                    <p>
                        <a href="{% url 'cat_detail_page' product.category.pk %}" style="color: orangered">Category:
                            {{ product.category }}</a>
                    </p>
                    <p class="mt-4 mb-5">
                        {{ product.description|truncatewords:60 }}
                    </p>
                    <p>
                        <strong>Price: {{ product.price }} USD</strong>
                    </p>
                    <div class="quote_btn-container">
                        {% if user.is_authenticated %}
                        <a href="{% url 'order_new_page' %}">
                            Buy now
                        </a>
                        {% else %}
                        <a href="{% url 'login_page' %}">
                            Buy now
                        </a>
                        {% endif %}
                        <a href="{% url 'product_detail_page' pk=product.pk %}">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="" class="" width="250px"/>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endblock content %}