{% extends "base.html" %}
{% load static %}
{% load multiply %}

{% block hero_area %}
{% include "base_parts/nav.html" %}
{% endblock hero_area %}

{% block content %}

<section class="contact_section layout_padding">
    <div class="container">
        <h2 class="font-weight-bold">
            API documentation:
        </h2>
        <div class="mt-5">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Model</th>
                    <th scope="col">URL</th>
                    <th scope="col">OPTION</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>FeedBack</td>
                    <td>api/v1/feedback/</td>
                    <td>FeedBackApiList</td>
                </tr>
                <tr>
                    <td>FeedBack</td>
                    <td>api/v1/feedback/int:pk/</td>
                    <td>FeedBackApiUpdate</td>
                </tr>
                <tr>
                    <td>FeedBack</td>
                    <td>api/v1/feedbackdelete/int:pk/</td>
                    <td>FeedBackApiDestroy</td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>api/v1/product/</td>
                    <td>ProductApiList</td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>api/v1/product/int:pk/</td>
                    <td>ProductApiUpdate</td>
                </tr>
                <tr>
                    <td>Product</td>
                    <td>api/v1/productdelete/int:pk/</td>
                    <td>ProductApiDestroy</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>api/v1/order/</td>
                    <td>OrderApiList</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>api/v1/order/int:pk/</td>
                    <td>OrderApiUpdate</td>
                </tr>
                <tr>
                    <td>Order</td>
                    <td>api/v1/orderdelete/int:pk/</td>
                    <td>OrderApiDestroy</td>
                </tr>
                <tr>
                    <td>Post</td>
                    <td>api/v1/post/</td>
                    <td>PostApiList</td>
                </tr>
                <tr>
                    <td>Post</td>
                    <td>api/v1/post/int:pk/</td>
                    <td>PostApiUpdate</td>
                </tr>
                <tr>
                    <td>Post</td>
                    <td>api/v1/postdelete/int:pk/</td>
                    <td>PostApiDestroy</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>api/v1/user/</td>
                    <td>UserApiList</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>api/v1/user/int:pk/</td>
                    <td>UserApiUpdate</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>api/v1/userdelete/int:pk/</td>
                    <td>UserApiDestroy</td>
                </tr>
                <tr>
                    <td>JWT Token</td>
                    <td>api/v1/token/</td>
                    <td>TokenObtainPair</td>
                </tr>
                <tr>
                    <td>JWT Token</td>
                    <td>api/v1/token/refresh/</td>
                    <td>TokenRefresh</td>
                </tr>
                <tr>
                    <td>JWT Token</td>
                    <td>api/v1/token/verify/</td>
                    <td>TokenVerify</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endblock content %}

{% block footer %}


<footer>
    {% include "base_parts/footer.html" %}
</footer>
{% endblock footer %}

<style>
    footer {
        margin-top: 250px;
        /*Минус Высота футера*/
        height: 100px;
        /*Высота футера*/
    }
</style>