{% extends "base.html" %}
{% load static %}
{% load multiply %}

{% block hero_area %}
{% include "base_parts/nav.html" %}
{% endblock hero_area %}

{% block content %}

<section class="contact_section layout_padding">
    <div class="container">
        <h2 class="font-weight-bold">
            Hello, {% if user.full_name %}{{ user.full_name }}{% else %}{{ user.username }}{% endif %}!
        </h2>
        <p>
            Last login: {{ user.last_login }}<br>
        </p>
        <div class="mt-5">

            <p><strong>Your functions: </strong></p>
            {% if user.is_staff %}
            <p><a href="{% url 'product_new_page' %}" style="color: orangered">
                Add product
            </a></p>
            <p><a href="{% url 'post_new_page' %}" style="color: orangered">
                Add post
            </a></p>
            <p><a href="{% url 'api_doc_page' %}" style="color: orangered">
                API documentation</a></p>
            {% else %}
            <p><a href="{% url 'post_new_page' %}" style="color: orangered">
                Add post</a></p>
            <p><a href="{% url 'api_doc_page' %}" style="color: orangered">
                API documentation</a></p>
            {% endif %}
        </div>

        <div class="mt-5">
            <p><strong>Your posts: </strong></p>
            {% for post in posts %}

            {% if user.id == post.author.id %}
            <p><a href="{% url 'post_detail_page' pk=post.pk %}" style="color: orangered">{{ post.title }}</a> ,
                date: {{ post.published_date }}</p>
            {% endif %}

            {% endfor %}
        </div>

        <div class="mb-4 mt-5"><strong>Your orders:</strong></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Customer</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for order in orders %}
                {% if user.id == order.customer.id %}
                <td>{{order.id}}</td>
                <td>{{order.customer}}</td>
                <td>{{order.product}}</td>
                <td>{{order.quantity}}</td>
                <td>{% multiply order.product.price order.quantity %} USD</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.date}}</td>
                <td>
                    {%if not order.processed %}
                    Order not processed
                    {% else %}
                    Order processed
                    {% endif %}
                </td>

            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock content %}

{% block footer %}


<footer>
    {% include "base_parts/footer.html" %}
</footer>
{% endblock footer %}

