{% extends 'base.html' %}
{% load static %}
{% load post_lib %}

{% block hero_area %}
{% include "base_parts/nav.html" %}
{% endblock hero_area %}

{% block content %}
<section class="fruit_section">
    <div class="container">
        <h2 class="custom_heading">Order processing</h2>
        <div class="row layout_padding2">
            <div class="col-md-8">
                <div class="fruit_detail-box">
                    <div class="form-group">
                        <form  method="post" autocomplete="off"
                              enctype="multipart/form-data" style=" width: 50vw; margin-left : 7vw;">
                            {% csrf_token %}
                            {% for field in order_form %}
                            <div class="form-group">
                                {% if field.errors %}
                                <div class="alert alert-danger">
                                    {{ field.errors }}
                                </div>
                                {% endif %}
                                {{ field.label }}
                                {{ field }}
                            </div>
                            {% endfor %}
                            <button type="submit" name="buttom" class="btn btn-dark" style="color: orange">
                                Checkout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block footer %}
<style>
    footer {
        margin-top: 160px;
        height: 100px;
    }

    .login {
        margin-top: 40px;
    }
</style>
<footer>
    {% include "base_parts/footer.html" %}
</footer>
{% endblock footer %}