{% load static %}
<!--<section class="map_section">-->
<!--    <div id="map" class="h-100 w-100 ">-->
<!--    </div>-->
<!--</section>-->


<section class="info_section layout_padding" style="background-color:#ffa812">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    <a href="{% url 'product_list_page' %}" style="color: black"><strong>Online Shop</strong></a>
                </h5>
                <p>
                    The most delicious and fresh fruit, vegetables and dry fruits
                </p>
            </div>
            <div class="col-md-3">
                <h5>
                    <a href="{% url 'post_list_page' %}" style="color: black"><strong>Blog</strong></a>
                </h5>
                <p>Interesting articles about fruits</p>
            </div>
            <div class="col-md-3">
                <h5>
                    <a href="{% url 'about_page' %}" style="color: black"><strong>About Us</strong></a>
                </h5>
                <p>We facilitate our customers with the farm-fresh quality products. You never deliver stale or
                    contaminated food to them. </p>

            </div>
            <div class="col-md-3">
                <div class="social_container">
                    <h5>
                        <a href="{% url 'contact_page' %}" style="color: black"><strong>Contact Us</strong></a>
                    </h5>
                    <p>Address: {{ address }} </p>
                    <p>Phone: {{ phone }}</p>
                </div>
            </div>
        </div>
    </div>
</section>